{% load static %}


<section class="about">
  <div class="container">
    <div class="about-content">
      <aside class="about-left">
        <div class="left-content">
          <h3 class="left-title">2K</h3>
          <p class="left-desc">наименований продукции</p>
        </div>
        <div class="left-content">
          <div class="left-content">
            <h3 class="left-title">30</h3>
            <p class="left-desc">брендов работают&nbsp;с&nbsp;нами</p>
          </div>
        </div>
      </aside>
      <aside class="about-right">
        <div class="rigth-content">
          <h3 class="right-title">Мы не просто продаем товары для ванной - мы помогаем вам&nbsp;найти&nbsp;лучшее&nbsp;решение.</h3>
        </div>
        <div class="about_advantage__top">
          <div class="advantage__item">
            <img class="advantage__item_img" src="{% static 'img/icon/transport.svg' %}" alt="">
            <div class="item_content">
              <h4 class="advantage__item_title">ДОСТАВКА</h4>
              <p class="advantage__item_desc">Доставим товар в удобное для вас время</p>
            </div>
          </div>
          <div class="advantage__item">
            <img class="advantage__item_img" src="{% static 'img/icon/car.svg' %}" alt="">
            <div class="item_content">
              <h4 class="advantage__item_title">САМОВЫВОЗ</h4>
              <p class="advantage__item_desc">Вы&nbsp;можете&nbsp;самостоятельно забрать заказ в пункте самовывоза.</p>
            </div>
          </div>
          <div class="advantage__item">
            <img class="advantage__item_img" src="{% static 'img/icon/dashboard.svg' %}" alt="">
            <div class="item_content">
              <h4 class="advantage__item_title">ШИРОКИЙ АССОРТИМЕНТ&nbsp;ТОВАРОВ</h4>
              <p class="advantage__item_desc">У нас найдется все.</p>
            </div>
          </div>
        </div>
        <div class="about_advantage__top">
          <div class="advantage__item">
            <img class="advantage__item_img" src="{% static 'img/icon/support.svg' %}" alt="">
            <div class="item_content">
              <h4 class="advantage__item_title">КЛИЕНТСКИЙ СЕРВИС</h4>
              <p class="advantage__item_desc">Оказываем поддержку на всех этапах покупки товара</p>
            </div>
          </div>
          <div class="advantage__item">
            <img class="advantage__item_img" src="{% static 'img/icon/thumb.svg' %}" alt="">
            <div class="item_content">
              <h4 class="advantage__item_title">ГАРАНТИЯ КАЧЕСТВА</h4>
              <p class="advantage__item_desc">Соответствуем требованиям и стандартам качества</p>
            </div>
          </div>
          <div class="advantage__item">
            <img class="advantage__item_img" src="{% static 'img/icon/sales.svg' %}" alt="">
            <div class="item_content">
              <h4 class="advantage__item_title">АКЦИИ И СКИДКИ </h4>
              <p class="advantage__item_desc">Постоянным клиентам акции и скидки</p>
            </div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>