{% load static %}
{% load head_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="shortcut icon" href="{% static 'img/icon/vod_logo.ico' %}" type="image/x-icon">
  <title>{% head_title page_title %}</title>
</head>
<body>

  {% include 'header.html' %}



  {% block content %}

  {% endblock %}

  
  {% include 'footer.html' %}
  <script type="module" src="{% static 'js/main.js' %}"></script>
</body>
</html>