{% load static %}

<footer class="footer">
  <div class="container">
    <div class="footer_content">
      <div class="footer_content__info">
        <div class="header-logo">
          <img src="{% static 'img/logo/vod_logo.png' %}" alt="">
          <h2 class="logo-text">Водяной</h2>
        </div>
        <div class="social_media">
          <div class="social_media__title">Мы в социальных сетях</div>
          <div class="social_media__img">
            <a href="">
              <img src="{% static 'img/social_img/inst.png' %}" alt="">
            </a>
            <a href="">
              <img src="{% static 'img/social_img/face.png' %}" alt="">
            </a>
          </div>
        </div>
        <div class="social_media pay">
          <div class="social_media__title">Мы принимаем</div>
          <div class="social_media__img">
            <a href="">
              <img src="{% static 'img/payment_card/mir.png' %}" alt="">
            </a>
            <a href="">
              <img src="{% static 'img/payment_card/master-card.png' %}" alt="">
            </a>
            <a href="">
              <img src="{% static 'img/payment_card/visa.png' %}" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="footer_content__buyer">
        <h3 class="content__title">ПОКУПАТЕЛЮ</h3>
        <div class="content__item">
          <a href="">Доставка</a>
        </div>
        <div class="content__item">
          <a href="">Оплата</a>
        </div>
        <div class="content__item">
          <a href="">Гарантии и возврат</a>
        </div>
        <div class="content__item">
          <a href="">Производители</a>
        </div>
        <div class="content__item">
          <a href="">Статьи</a>
        </div>
      </div>
      <div class="footer_content__company">
        <h3 class="content__title">КОМПАНИЯ</h3>
        <div class="content__item">
          <a href="">О нас</a>
        </div>
        <div class="content__item">
          <a href="">Контакты</a>
        </div>
        <div class="content__item">
          <a href="">Пользовательское соглашение</a>
        </div>
        <div class="content__item">
          <a href="">Политика конфиденциальности</a>
        </div>
        <div class="content__item">
          <a href="">Обратная связь</a>
        </div>
      </div>
      <div class="footer_content__contacts">
        <div class="footer_content__company">
          <h3 class="content__title">КОНТАКТЫ</h3>
          <div class="company__item">
            <img src="{% static 'img/contact_img/phone.png' %}" alt="">
            <a href="">+7 771 010 1288</a>
          </div>
          <div class="company__item">
            <img src="{% static 'img/contact_img/mail.png' %}" alt="">
            <a href="">info@vodyanoy.asia</a>
          </div>
          <div class="company__item">
            <img src="{% static 'img/contact_img/address.png' %}" alt="">
            <a href="">Сайрамская 85/1</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>