
body {
  max-width: 2200px;
  width: 100%;
  background-color: #f0f0f0;
} 

.container {
  max-width: 90%;
  padding: 0 20px;
  margin: 0 auto;
}

.section-title {
  margin-top: 2rem;
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
}

/* ================== HEADER ==================== */
.header {
  height: 140px;
  width: 100%;

}

.header-top {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border-bottom: solid #4e81c2 1px;
}

.header-logo {
  display: flex;
  align-items: center;
  height: 65px;
  width: 40px;
}

.logo-text {
  font-size: 30px;
  font-weight: 700;
  margin-left: 1rem;
}

.header-nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.header-nav li + li {
  margin-left: 2rem;
  font-size: 17px;
}

.regiter-login {
  display: flex;
  align-items: center;
  
}

.header-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-left: 2rem;
}

.header-bottom__left {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-bottom__left_catalog {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #3c46a7;
}

.catalog-title {
  font-size: 22px;
  font-weight: 600;
  color: #3c46a7;
  margin-left: 1rem;
}

.search-form {
  display: inline-flex;
  width: 519px;
  height: 50px;
}

.search-form__text {
  width: 419px;
  height: 50px;
  border: solid blue 1px;
  background-color: inherit;
  padding: 2px 10px;
  font-size: 19px;
}

.search-form__img {
  height: 90%;
  width: 90%;
}

.search-form__btn {
  border: solid black 1px;
  background-color: #3c46a7;
  width: 3rem;
}

.header-bottom__rigth {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.call-phone {
  font-size: 18px;
  
}

.call-phone__text {
  color: #6CDB7E;
}

.header-bottom__tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tools__img {
  width: 25px;
  height: 25px;
}

.tools__item {
  display: grid;
  margin-left: 2rem;
  justify-items: center;
}


/* ================ SLIDER =================== */
.slider-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  height: 40rem;
  margin-top: 4rem;
  position: relative;
}

.slider-top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.slider {
  width: 100%;
  height: 500px;
  overflow: visible;
  border-radius: 10px;
}

.slider__image {
  width: 100%;
  height: 100%;
  display: none;
}

.arrow {
  width: 80px;
  height: 80px;
  position: absolute;
  cursor: pointer;
}

.arrow-right {
  left: 10px;
  transform: rotate(180deg);
}

.arrow-left {
  right: 10px;
}
.block {
  display: block;
}

.pagination-circle {
  width: 15px;
  height: 15px;
  border: solid black 2px;
  border-radius: 50%;
}

.active {
  background-color: purple;
}

.slider-bottom {
  display: flex;
  column-gap: 25px;
}

/* ================ MAIN CATALOG ====================== */

.main-catalog__container_top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.main-catalog__title {
  border: solid black 1px;
  border-radius: 5px;
  font-size: 22px;
  text-align: center;
  width: 33.3%;
  padding: 0.5rem 3rem;
  color: #3c46a7;
}

.title_active {
  background-color: #dfe1ea;
}

.main-catalog__container_bottom {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #dfe1ea;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  padding: .4rem 2rem;
  border-radius: 5px;
}

.main-catalog__subtitle {
  padding: .5rem 0; 
}

/* ================= MAIN PAGE CAATLOG =============== */
.main-catalog__products {
  margin-top: 2rem;
}

.main-catalog__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product {
  width: 290px;
  margin-bottom: 2rem;
  border: solid #dfe1ea .5px;
  padding: .5rem;
}

.product:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.product__img {
  width: 290px;
  height: 220px;
}

.product-content {
  width: 100%;
  margin-top: 1rem;
}

.product__title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: .5rem;
}

.product__desc {
  font-size: 15px;
  margin-bottom: 1rem;
  color: #4e81c2;
}

.product_price {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.product_price__value {
  font-size: 22px;
}

.product_price__currency {
  font-size: 23px;
  font-weight: 700;
}

.product_btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product__buy {
  border: solid #3c46a7 1px;
  padding: .5rem 2rem;
  color: white;
  background-color: #3c46a7;
  border-radius: 5px;
}

.add-to-favorite {
  width: 25px;
  height: 25px;
}


/* =============== ABOUT SECTION ================== */
.about {
  height: 505px;
  width: 100%;
  position: relative;
}

.about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/santech1.jpg);
  opacity: 0.2;
  z-index: -1;
}

.about-content {
  position: relative;
  opacity: 999;
  z-index: 100;
  padding-top: 4rem;
  display: flex;
}

.about-left {
  width: 20%;
}

.left-content {
  width: 178px;
  margin-top: 3rem;
}

.left-title {
  font-size: 75px;
  line-height: 97px;
  color: #6CDB7E;
}

.left-desc {
  color: #6F7682;
  font-size: 16px;
  font-weight: 700;
}


.right-title {
  font-size: 35px;
  line-height: 45px;
}

.rigth-content {
  margin-top: 3rem;
  font-size: 35px;
  line-height: 45px;
}

.about_advantage__top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.advantage__item {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  width: 265px;
}
.advantage__item_img {
  width: 70px;
  height: 70px;
}
.item_content {
  margin-left: 1rem;
}
.advantage__item_title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.advantage__item_desc {
  font-size: 14px;
  color: #6F7682;
}

/* ============== BRANDS ================ */

.our-brands {
  position: relative;
  margin-top: 2rem;
  background-image: url(../img/fon3.png);
  background-size: 100%;
  width: 100%;
  height: 500px;
}

.brands-container {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}


.brand_item {
  width: 250px;
  height: 190px;
  /* border: solid black 1px; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.brand_item img {
  max-width: 100%;
  max-height: 100%;
}

/* ================== NEWS ================= */
.news_container {
  position: relative;
  width: 100%;
}

.back-text {
  position: absolute;
  font-size: 110px;
  color: #c7ccdd;
  opacity: 0.3;
  top: -50px;
  left: 150px;
}

.news_content {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.news__item {
  width: 25%;
  margin: 1rem 1rem;
  min-width: 200px;
} 

.news_item__content {
  margin-left: 1rem;
}
.news_item_title {
  font-size: 17px;
  padding-bottom: .5rem;
}

.news_item__desc {
  font-size: 14px;
  font-weight: 300;
}

/* ================== FOOTER ================= */
.footer {
  margin-top: 2rem;
  border-top: #3c46a7 solid 1px;
}

.footer_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 2rem 0;  
}

.social_media {
  margin-top: 2rem;
  color: #6F7682;
}

.social_media__img {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.social_media__img  a {
  margin-left: 0.5rem;
}

.footer_content__buyer {
  top: 0;
}

.content__title {
  font-size: 17px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.content__item {
  padding: 0.4rem 0;
}

.company__item {
  display: flex;
  align-items: center;
  padding: 0.4rem 0;
}

.company__item a {
  margin-left: 0.5rem;
}