@import url(./header.css);
@import url(./manufacturer.css);
@import url(./footer.css);
@import url(./slider.css);
@import url(./brands_main.css);
@import url(./about_page.css);
@import url(./delivery_page.css);
@import url(./product_detail.css);
@import url(./catalog.css);


body {
  width: 100%;
  background-color: #f0f0f0;
}

button:hover {
  background-color: #7a9dd1;
  transition: .7s ease;
}

.container {
  max-width: 90%;
  padding: 0 1rem;
  margin: 0 auto;
}

.section-title {
  margin-top: 2rem;
  font-size: 35px;
  font-weight: 700;
  line-height: 45px;
}

.back-text {
  position: absolute;
  font-size: 6rem;
  color: #c7ccdd;
  opacity: 0.3;
  top: -3rem;
}

.page_section {
  margin-top: 2rem;
  position: relative;
}




/* ================ MAIN CATALOG ====================== */

.main-catalog__container_top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.main-catalog__title {
  border: solid black 1px;
  border-radius: 5px;
  font-size: 1.3rem;
  text-align: center;
  width: 33.3%;
  padding: 0.5rem 3rem;
  color: #3c46a7;
}

.main-catalog__title.title_active {
  background-color: #dfe1ea;
}

.main-catalog__container_bottom {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #dfe1ea;
  font-family: "Exo 2", sans-serif;
  font-size: 1rem;
  padding: .4rem 2rem;
  border-radius: 5px;
}

.main-catalog__subtitle {
  padding: .5rem 0; 
}

/* ================= MAIN PAGE CAATLOG =============== */
.main-catalog__products {
  margin-top: 2rem;
}

.main-catalog__item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product {
  width: 18rem;
  margin-bottom: 2rem;
  border: solid #dfe1ea .5px;
  padding: .5rem;
}

.product:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.product__img {
  width: 16rem;
  height: 16rem;
}

.product-content {
  width: 100%;
  margin-top: 1rem;
}

.product__title {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: .5rem;
}

.product__desc {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  color: #4e81c2;
}

.product_price {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.product_price__value {
  font-size: 1.2rem;
}

.product_price__currency {
  font-size: 1.3rem;
  font-weight: 700;
}

.product_btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.product__buy {
  border: solid #3c46a7 1px;
  padding: .5rem 2rem;
  color: white;
  background-color: #3c46a7;
  border-radius: 5px;
}

.add-to-favorite {
  width: 1.5rem;
  height: 1.5rem;
}


/* =============== ABOUT SECTION ================== */
.about {
  height: 35rem;
  width: 100%;
  position: relative;
}

.about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/about_back.png);
  opacity: 0.2;
  z-index: -1;
}

.about-content {
  position: relative;
  opacity: 999;
  z-index: 100;
  padding-top: 4rem;
  display: flex;
}

.about-left {
  width: 20%;
}

.left-content {
  margin-top: 3rem;
}

.left-title {
  font-size: 6rem;
  line-height: 97px;
  color: #6CDB7E;
}

.left-desc {
  color: #6F7682;
  font-size: 1.1rem;
  font-weight: 700;
}


.right-title {
  font-size: 3.3rem;
  line-height: 3.7rem;
}

.rigth-content {
  margin-top: 3rem;
  font-size: 3.3rem;
  line-height: 3.7rem;
}

.about_advantage__top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.advantage__item {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  width: 16rem;
}
.advantage__item_img {
  width: 4rem;
  height: 4rem;
}
.item_content {
  margin-left: 1rem;
}
.advantage__item_title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.advantage__item_desc {
  font-size: 0.9rem;
  color: #6F7682;
}



/* ================== NEWS ================= */
.news_container {
  position: relative;
  width: 100%;
}

.news_main_back_text {
  position: absolute;
  font-size: 6rem;
  color: #c7ccdd;
  opacity: 0.3;
  top: -3rem;
  left: 10rem;
}

.news_content {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  align-items: center;
}

.news__item {
  width: 100%;
  margin: 2rem 1rem;
  min-width: 100%;
  height: 22rem;
  border: 1px solid lightgrey;
}

.news__item > a {
  width: 100%;
  height: 100%;
}

.news_item__img {
  width: 100%;
  height: 65%;
  overflow: hidden;
  text-align: center;
}

.news_item__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.news_item__content {
  padding: .6rem 1rem;
  height: 35%;
  background-color: #fff;
}
.news_item_title {
  font-size: 1.2rem;
  padding-bottom: .5rem;
}

.news_item__desc {
  font-size: 0.9rem;
  font-weight: 300;
}

