{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="category">
  <div class="container category_container">
    <aside class="main_category">
      <div class="main_category_list">
        <ul>
          {% for main_category in categories %}
          <li><a href="{{ main_category.get_absolute_url }}">{{main_category.name}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </aside>


    <aside class="subcategory">
      <div class="subcategory_list">
        {% for main_category in categories %}
        <div class="subcategory__item">
          <a href="{{ main_category.get_absolute_url }}">
            <img src="{{main_category.photo.url}}" alt="">
            <h3>{{main_category.name}}</h3>
          </a>
        </div>
        {% endfor %}
      </div>
    </aside>
  </section>

{% endblock %}