{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="product-page">
  <div class="container">
    <section class="product-item">
      <div class="product-item__images">
        <div class="product-item__img">
          <img src="{{product.photo.url}}" alt="">
        </div>
        <div class="product_small_img">
          <img class="product_small_img__item" src="{{product.photo.url}}" alt="">
          <img src="" alt="">
          <img src="" alt="">
        </div>
      </div>
      <div class="product-item__line"></div>
      <div class="product-item__desc">
        <div class="product-item__desc__title">
          <h2>{{product.name}}</h2>
        </div>
        <div class="product-item__desc__text">
          <div class="product-item__desc__params">
            <p>Коротко о товаре</p>
            <ul>
              <li>- Код товара:</li>
              <li>- Артикул:</li>
              <li>- Бренд:</li>
              <li>- Страна:</li>
              <li>- Материал:</li>
            </ul>
          </div>
          <div class="product-item__line2"></div>
          <div class="product-item__desc__rigth">
            <div class="product-item__desc__price">
              <div class="product-item_price__value">{{product.price}}&nbsp;</div>
              <div class="product-item_price__currency">&#x20b8;</div>
            </div>
            <div class="product-item__desc__btns">
              <button class="btn basket_btn">В корзину</button>
              <button class="btn buy_btn">Купить в один клик</button>
            </div>
            <div class="in_stock">
              <p>Товар в наличии &nbsp;&#10003;</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="product_info">
      <div class="product_info__list">
        <ul>
          <a class="product_info__list_link" href="">
            <li>О ТОВАРЕ</li>
          </a>
          <a class="product_info__list_link" href="">
            <li>ХАРАКТЕРИСТИКИ</li>
          </a>
          <a class="product_info__list_link" href="">
            <li>КОМПЛЕКТАЦИЯ</li>
          </a>
          <a class="product_info__list_link" href="">
            <li>ДОКУМЕНТАЦИЯ</li>
          </a>
          <a class="product_info__list_link" href="">
            <li>ОТЗЫВЫ</li>
          </a>
          <a class="product_info__list_link" href="">
            <li>ВОПРОСЫ/ОТВЕТЫ</li>
          </a>
        </ul>
      </div>
    </section>
    <section class="product_info__item">
      <div class="info_item about_item active_item">
        <p>{{product.desc}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas consectetur vel adipisci aliquid magnam inventore, ullam dolor fuga tempora voluptatem et distinctio quidem facere nisi nulla sunt nobis optio unde!
        Dicta corrupti reiciendis voluptatibus mollitia non unde, alias nesciunt maxime placeat? Explicabo facere sunt culpa, itaque, dolorem tempore quaerat, maxime assumenda dolores laboriosam eveniet distinctio perferendis deserunt sed maiores voluptatum?
        Veniam, eos repellat, modi aliquid aperiam consequuntur fugit dolorum voluptatibus aliquam quae maiores asperiores autem nesciunt culpa non laboriosam ad adipisci incidunt? Sunt tempore impedit, odio nisi commodi dicta voluptatibus?
        Quos provident quod iure. Impedit cum fugiat laborum neque voluptatem id tenetur natus molestiae odit, eos praesentium labore velit nesciunt vitae voluptates debitis asperiores! Tempore vitae reprehenderit labore. Architecto, voluptatem!
        Repellat, nesciunt? Numquam placeat culpa sequi aliquam natus sunt praesentium recusandae ratione saepe quidem quo fugiat delectus sint sit et unde velit officia quas quaerat voluptate harum, sed ea laborum?
        Vitae maiores mollitia nulla! Deserunt doloremque suscipit fuga ipsum eveniet odit sunt, dolores eaque repellendus id sequi assumenda magni ex fugit voluptatum, iusto natus amet quisquam modi possimus. Dolorem, magni.
        Eveniet dolore facere deleniti assumenda id magnam ipsam explicabo sequi accusamus quos velit minus, nam delectus natus sed ipsa iusto porro? Iure odit provident, perferendis qui nulla corporis autem impedit.
        Fugit quis facilis libero atque possimus consectetur blanditiis qui maiores cumque nulla culpa magni voluptas neque mollitia sequi earum modi, veniam inventore dolor tempora consequatur cum! Laborum assumenda non harum.
        Cumque iusto vitae, non dolor officia adipisci laboriosam similique quisquam nemo at incidunt debitis. Officiis distinctio earum minima repellendus cupiditate nobis? Illo optio, cum eligendi iure sequi totam! Distinctio, assumenda!
        Dolorum nemo labore itaque esse? Necessitatibus aperiam quia, odio vitae hic fugiat minus provident ratione assumenda explicabo fugit quod quae excepturi adipisci iure tempore nobis labore sapiente omnis. Ratione, qui.</p>
      </div>
      <div class="info_item haracters_item">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, quo fugiat eaque alias sunt excepturi porro sed veniam! Eius impedit at aliquid cum fuga laboriosam enim, aspernatur ea dolor maxime.
        Cupiditate odit accusamus nesciunt fugit animi doloremque minus ea quasi praesentium, assumenda maiores reiciendis laboriosam iusto quos soluta totam ullam. Maiores, architecto illo. Eligendi natus perferendis iusto quia. Fugit, eius.
        Tempora impedit facilis beatae praesentium deleniti neque amet asperiores unde sunt hic nostrum, animi rerum quod maxime magni iure earum assumenda. Distinctio dolores cupiditate reprehenderit nam iure recusandae voluptate ducimus!
        Quidem harum sequi officia voluptatem exercitationem est facilis veniam enim neque ipsa placeat vitae error laudantium maxime id, aspernatur cum beatae nam assumenda eligendi iusto, cumque quam. Hic, saepe delectus?
        Minus at, voluptate sunt expedita unde nisi beatae earum alias quia laudantium dignissimos modi illo deserunt, quasi id nesciunt soluta amet quidem quis eligendi. Facere quidem officiis nulla quo quis?
        Laboriosam provident dolorum, nemo debitis assumenda adipisci facere, ut ullam quo error praesentium laudantium amet perspiciatis. Odio ea reiciendis sit soluta amet sint aliquid eveniet natus laborum expedita! Exercitationem, odit.
        Sapiente fugit sit necessitatibus nulla facilis! Nesciunt, voluptatum. A dolor ab officia, ipsam libero natus ipsum sint perferendis inventore nobis fugiat quam quos omnis modi sapiente ullam neque cum sit.
        Doloribus at quisquam odio eveniet voluptatibus quia nesciunt dolore sapiente iste nam possimus, pariatur necessitatibus expedita suscipit sit eum doloremque natus? Quidem dolorem praesentium beatae illum porro quasi alias sapiente.
        Esse non similique alias dolorem ducimus cupiditate voluptatibus optio. Est deleniti animi, debitis praesentium earum facilis ipsum laboriosam adipisci iste quas officiis perspiciatis veritatis culpa quos fugiat doloremque excepturi. Alias.
        Debitis ipsam reprehenderit nostrum dignissimos earum dolorum magni? Esse, beatae obcaecati ea excepturi doloremque maxime unde quae cum sapiente labore, officia nisi placeat fuga nam ex expedita illum, exercitationem asperiores?
        Pariatur eius doloremque natus assumenda quasi, fugit possimus omnis quia dolorem, modi, vero rerum explicabo minima quam temporibus eaque. Quisquam porro, aliquam laboriosam sit maxime quas natus sed assumenda asperiores!
        Doloribus at optio vero minima quis architecto eligendi quidem eaque officiis, quisquam quibusdam impedit ullam necessitatibus sint repudiandae veritatis numquam maiores blanditiis ipsam, perspiciatis animi eum? Aliquid voluptates quae nesciunt.
        Possimus natus enim, dolor laborum sapiente animi molestias accusamus quisquam ratione similique perspiciatis dignissimos incidunt! Minima, iste exercitationem ipsum doloribus amet pariatur maxime maiores mollitia labore voluptates ad quo esse.
        Incidunt odio labore obcaecati consectetur, modi quidem officiis consequatur nesciunt officia aliquid repudiandae minima dolore fuga quia soluta nulla ipsam rem et. Commodi accusantium eveniet soluta necessitatibus quas hic iste!
        Incidunt vitae nulla et ullam pariatur beatae quo dolores delectus doloribus ipsa. Officiis deserunt eius quisquam voluptatem laboriosam obcaecati mollitia qui aperiam? Explicabo reiciendis officiis optio hic unde, accusantium sed?
        Nostrum dignissimos corrupti minus ex ipsum reprehenderit et temporibus est rem vero in autem consequatur illo perferendis doloribus provident, error consectetur omnis rerum saepe. Officiis dolores et commodi quibusdam quaerat.
        Quo possimus suscipit, nostrum et deserunt aliquid dignissimos provident. Nisi unde vitae voluptate? Perferendis, voluptas suscipit et, a sapiente exercitationem dolorum reprehenderit corrupti odio repellat, voluptatem eos corporis harum molestiae?
        Accusamus labore facere dolorem quod ea officiis voluptates suscipit quo nisi illum? Minima, cupiditate qui! Ratione, at quasi, optio recusandae maxime, nisi suscipit autem saepe illo delectus minus provident accusamus?
        Quia nihil corporis aperiam voluptas? Accusantium tenetur dolor earum velit, voluptas debitis quod porro. Nulla iure unde quidem, cupiditate iusto hic quos reprehenderit dicta minus eum perferendis saepe omnis! Officia!
        Ad totam sunt facere sit ut eum inventore illo, quisquam quasi, nihil tempore iusto mollitia molestias similique? Itaque quas consectetur, deserunt neque quo eum magni aspernatur iste dolorum rerum fugit.</p>
      </div>
      <div class="info_item completation_item">
      </div>
      <div class="info_item documentation_item"></div>
      <div class="info_item feedback_item"></div>
      <div class="info_item question_item"></div>
    </section>


  </div>
</section>


{% endblock %}