{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="product-page">
  <div class="container">
    <section class="product-item">
      <div class="product-item__images">
        <div class="product-item__img">
          <img src="{{product.photo.url}}" alt="">
        </div>
        <div class="product_small_img">
          <img class="product_small_img__item" src="{{product.photo.url}}" alt="">
          <img src="" alt="">
          <img src="" alt="">
        </div>
      </div>
      <div class="product-item__line"></div>
      <div class="product-item__desc">
        <div class="product-item__desc__title">
          <h2>{{product.name}}</h2>
        </div>
        <div class="product-item__desc__text">
          <div class="product-item__desc__params">
            <p>Коротко о товаре</p>
            <ul>
              <li>- Код товара:</li>
              <li>- Артикул:</li>
              <li>- Бренд:</li>
              <li>- Страна:</li>
              <li>- Материал:</li>
            </ul>
          </div>
          <div class="product-item__line2"></div>
          <div class="product-item__desc__rigth">
            <div class="product-item__desc__price">
              <div class="product-item_price__value">{{product.price}}&nbsp;</div>
              <div class="product-item_price__currency">&#x20b8;</div>
            </div>
            <div class="product-item__desc__btns">
              <button class="btn basket_btn">В корзину</button>
              <button class="btn buy_btn">Купить в один клик</button>
            </div>
            <div class="in_stock">
              <p>Товар в наличии &nbsp;&#10003;</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="product_info">
      <div class="product_info__list">
        <ul>
          <a class="product_info__list_link" href="" data-target="about_item">
            <li>О ТОВАРЕ</li>
          </a>
          <a class="product_info__list_link" href="" data-target="haracters_item">
            <li>ХАРАКТЕРИСТИКИ</li>
          </a>
          <a class="product_info__list_link" href="" data-target="completation_item">
            <li>КОМПЛЕКТАЦИЯ</li>
          </a>
          <a class="product_info__list_link" href="" data-target="documentation_item">
            <li>ДОКУМЕНТАЦИЯ</li>
          </a>
          <a class="product_info__list_link" href="" data-target="feedback_item">
            <li>ОТЗЫВЫ</li>
          </a>
          <a class="product_info__list_link" href="" data-target="question_item">
            <li>ВОПРОСЫ/ОТВЕТЫ</li>
          </a>
        </ul>
      </div>
    </section>
    <section class="product_info__item">
      <div class="info_item about_item">
        <p>{{product.desc}} Lorem ipsum dolor sit amet quia,
          odio vitae hic fugiat minus provident ratione assumenda explicabo fugit quod quae excepturi
          adipisci iure tempore nobis labore sapiente omnis. Ratione, qui.</p>
      </div>
      <div class="info_item haracters_item">
        <p>Lorem.</p>
      </div>
      <div class="info_item completation_item">
      </div>
      <div class="info_item documentation_item"></div>
      <div class="info_item feedback_item"></div>
      <div class="info_item question_item"></div>
    </section>


  </div>
</section>
<script type="module" src="{% static 'js/product_detail.js' %}"></script>


{% endblock %}