<aside class="brands_list">
  <div class="partners__list">
    <div class="partners__item">
      <div class="partners__item__img">
        <img src="./img/brands/forte.png" alt="">
      </div>
      <div class="partners__item__bottom">
        <div class="partners__item__name">Forte Home</div>
        <div class="partners__item__country">
          <div class="partners__item__country_flag">
            <img src="./img/flags/russia-flag.svg" alt="">
          </div>
          <div class="partners__item__country_name">Russia</div>
        </div>
      </div>
    </div>
    <div class="partners__item">
      <div class="partners__item__img">
        <img src="./img/brands/aparici.svg" alt="">
      </div>
      <div class="partners__item__bottom">
        <div class="partners__item__name">Ivan Heating</div>
        <div class="partners__item__country">
          <div class="partners__item__country_flag">
            <img src="./img/flags/russia-flag.svg" alt="">
          </div>
          <div class="partners__item__country_name">Kazakhstan</div>
        </div>
      </div>
    </div>
    <div class="partners__item">
      <div class="partners__item__img">
        <img src="./img/brands/logo-big.svg" alt="">
      </div>
      <div class="partners__item__bottom">
        <div class="partners__item__name">Ivan Heating</div>
        <div class="partners__item__country">
          <div class="partners__item__country_flag">
            <img src="./img/flags/russia-flag.svg" alt="">
          </div>
          <div class="partners__item__country_name">Kazakhstan</div>
        </div>
      </div>
    </div>
  </div>
</aside>