{% extends 'base.html' %}
{% load static %}


{% block content %}

<section class="about_page">
  <div class="container">
    <div class="about_page_content">
      <h2>О нас</h2>
      <div class="back-text about_back_text">About</div>
    </div>
    <div class="about_content__desc">
      <h3>Магазин инженерной сантехники Водяной</h3>
      <p>Мы предлагаем большой ассортимент сантехнического оборудования из Европы на любой вкус по выгодным и
        доступным ценам.</p>

      <p>Мы ценим наших клиентов, поэтому продаем только сертифицированную продукцию, предоставляем качественный
        сервис и гарантируем индивидуальный подход к каждому клиенту.</p>

      <p>Кроме того, наш магазин сантехники постоянно проводит акции, предоставляем скидки на товары и делаем выгодные
        предложения с целью повышения лояльности наших клиентов.</p>

      <p><b>Наша цель</b> – обеспечить комфорт каждому клиенту и предоставить отличные решения по организации пространства
        ванных комнат, кухонь и санузлов. Мы доставим товар в удобное время для клиента и точно в срок, потому что
        ценим каждого покупателя.</p>
    </div>
  </div>
  <div class="why_section">
    <div class="container">
      <h3>Почему стоить купить сантехнику именно у нас?</h3>
      <div class="why_section_list">
        <div class="why_section__item">
          <img src="{% static 'img/icon/about_icons/dashboard.svg' %}" alt="">
          <div class="item_content">
            <h4 class="advantage__item_title">ШИРОКИЙ АССОРТИМЕНТ ТОВАРОВ</h4>
            <p class="advantage__item_desc">Большой ассортимент ванн, унитазов и раковин</p>
          </div>
        </div>
        <div class="why_section__item">
          <img src="{% static 'img/icon/about_icons/transport.svg' %}" alt="">
          <div class="item_content">
            <h4 class="advantage__item_title">ДОСТАВКА</h4>
            <p class="advantage__item_desc">Быстрая и бережная доставка по Краснодару и Краснодарскому краю - от 1 до 3х дней</p>
          </div>
        </div>
        <div class="why_section__item">
          <img src="{% static 'img/icon/about_icons/thumb.svg' %}" alt="">
          <div class="item_content">
            <h4 class="advantage__item_title">ГАРАНТИЯ КАЧЕСТВА</h4>
            <p class="advantage__item_desc">Высокое и неизменное качество. Гарантия производителя на сантехнические изделия.</p>
          </div>
        </div>
        <div class="why_section__item">
          <img src="{% static 'img/icon/about_icons/ok-circle.svg' %}" alt="">
          <div class="item_content">
            <h4 class="advantage__item_title">СЕРТИФИЦИРОВАННАЯ САНТЕХНИКА</h4>
            <p class="advantage__item_desc">Только сертифицированная и оригинальная сантехника</p>
          </div>
        </div>
        <div class="why_section__item">
          <img src="{% static 'img/icon/about_icons/support.svg' %}" alt="">
          <div class="item_content">
            <h4 class="advantage__item_title">КЛИЕНТСКИЙ СЕРВИС</h4>
            <p class="advantage__item_desc">Профессиональные консультации по подбору и покупке</p>
          </div>
        </div>
        <div class="why_section__item">
          <img src="{% static 'img/icon/about_icons/credit-card.svg' %}" alt="">
          <div class="item_content">
            <h4 class="advantage__item_title">ОПЛАТА</h4>
            <p class="advantage__item_desc">Удобные способы оплаты - наличный/безналичный расчет или на расчетный счет</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about_offer">
  <div class="container">
    <h3>Мы рады вам предложить</h3>
    <div class="back-text about_offer_back_text">Glad to offer you</div>
    <div class="about_offer_list">
      <div class="about_offer_list_item">
        <img src="" alt="">
        <div class="about_offer_list_item_title">ВАННЫ</div>
      </div>
      <div class="about_offer_list_item">
        <img src="" alt="">
        <div class="about_offer_list_item_title">ДУШЕВЫЕ КАБИНЫ</div>
      </div>
      <div class="about_offer_list_item">
        <img src="" alt="">
        <div class="about_offer_list_item_title">ДУШЕВЫЕ УГЛЫ И ОГРАЖДЕНИЯ</div>
      </div>
      <div class="about_offer_list_item">
        <img src="" alt="">
        <div class="about_offer_list_item_title">ДУШЕВЫЕ УГЛЫ И ОГРАЖДЕНИЯ</div>
      </div>
      <div class="about_offer_list_item">
        <img src="" alt="">
        <div class="about_offer_list_item_title">ДУШЕВЫЕ УГЛЫ И ОГРАЖДЕНИЯ</div>
      </div>
      <div class="about_offer_list_item">
        <img src="" alt="">
        <div class="about_offer_list_item_title">ДУШЕВЫЕ УГЛЫ И ОГРАЖДЕНИЯ</div>
      </div>
      <div class="about_offer_list_item">
        <img src="" alt="">
        <div class="about_offer_list_item_title">ДУШЕВЫЕ УГЛЫ И ОГРАЖДЕНИЯ</div>
      </div>
      <div class="about_offer_list_item">
        <img src="" alt="">
        <div class="about_offer_list_item_title">ДУШЕВЫЕ УГЛЫ И ОГРАЖДЕНИЯ</div>
      </div>
      <div class="about_offer_list_item">
        <img src="" alt="">
        <div class="about_offer_list_item_title">ДУШЕВЫЕ УГЛЫ И ОГРАЖДЕНИЯ</div>
      </div>
      <div class="about_offer_list_item">
        <img src="" alt="">
        <div class="about_offer_list_item_title">ДУШЕВЫЕ УГЛЫ И ОГРАЖДЕНИЯ</div>
      </div>
    </div>
  </div>
</section>
<section class="call_us">
  <div class="container">
    <div class="call_back_img">
      <div class="call_back__text">
        <p class="call_text">Наши сотрудники, отлично знающие ассортимент, всегда рады помочь выбрать необходимый товар и проконсультировать по техническим характеристикам.</p>
        <p class="call_text">Звоните по телефону <b>8(800)800-00-00</b> или оставляйте заявку на сайте.</p>
        <p class="call_text">Мы поможем вам подобрать необходимую сантехнику по вашему бюджету.</p>
        <p class="call_text">Ощутите комфорт и уют в собственной ванной комнате!</p>
        <p class="call_text">Приятных Вам покупок!</p>
      </div>
    </div>
    
  </div>
</section>


{% endblock %}