{% extends 'base.html' %}
{% load static %}


{% block content %}
<section class="page_section delivery">
  <div class="container">
    <div class="section_header">
      <h2 class="section_title">Доставка</h2>
      <div class="back-text delivery_back_text">Delivery</div>
    </div>
    <section class="delivery_list">
      <div class="delivery__item active_block">
        <img class="delivery__item__img" src="{% static 'img/icon/about_icons/transport.svg' %}" alt="transport">
        <h3 class="delivery_item__title">Доставка по городу Шымкент и области</h3>
      </div>
      <div class="delivery__item">
        <img class="delivery__item__img" src="{% static 'img/icon/about_icons/box.svg' %}" alt="box">
        <h3 class="delivery_item__title">Доставка по Казахстану и областям</h3>
      </div>
      <div class="delivery__item">
        <img class="delivery__item__img" src="{% static 'img/icon/about_icons/car.svg' %}" alt="car">
        <h3 class="delivery_item__title">Самовывоз</h3>
      </div>
    </section>
    <section class="delivery_desc">
      <h4 class="delivery_desc__title">Стоимость доставки</h4>
        <div class="delivery_desc__table">
          <table class="table">
            <thead>
              <tr>
                <th>Категория товаров</th>
                <th>Стоимость по г. Шымкент</th>
                <th>Стоимость за пределы г. Шымкент</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><b>Крупногабаритный товар</b> (ванны,душевые кабины, душевые боксы, душевые ограждения, душевые поддоны, сауны, мебель для ванной)</td>
                <td>900 ₽</td>
                <td>900 ₽ + 30 ₽ за 1 км</td>
              </tr>
              <tr>
                <td><b>Среднегабаритный товар</b> (инсталляции, раковины, унитазы, биде, писсуары, биотуалеты, кухонные мойки, полотенцесушители, душевые панели, душевые системы)</td>
                <td>700 ₽</td>
                <td>700 ₽ + 30 ₽ за 1 км</td>
              </tr>
              <tr>
                <td><b>Мелкогабаритный товар</b> (смесители, душевые гарнитуры, душевые трапы и лотки, гигиенические души, верхние души, аксессуары для ванной, аксессуары для общественных санузлов, комплектующие)</td>
                <td>500 ₽</td>
                <td>500 ₽ + 30 ₽ за 1 км</td>
              </tr>
            </tbody>
          </table>
          <p>Доставка за пределы города Краснодар оплачиваются из расчета + 30 ₽ за 1 км к стоимости доставки по городу</p>
          <p>БЕСПЛАТНО доставка осуществляется при условии, если покупателем приобретен крупногабаритный товар или при сумме заказа свыше 20 000 ₽.</p>  
          <p>БЕСПЛАТНО доставка осуществляется только в черте города Шымкент.</p>
        </div>
        <div class="delivery_rules">
          <h4 class="delivery_desc__title">Правила доставки по городу Краснодар и Краснодарскому краю</h4>
          <ol>
            <li>Мы осуществляем доставку товара по Краснодару собственной службой доставки ежедневно.</li>
            <li>Время доставки согласовывается с менеджером, который обязательно свяжется с вами после размещения заказа. Доставка в точное время не предусмотрено. Непосредственно перед доставкой с Вами свяжется водитель и скорректирует точное время доставки.</li>
            <li>Приобретённый товар доставляется до подъезда (офисного здания, калитки дачи или ворот частного дома). Предоставление услуг доставки возможно при наличии свободного парковочного места вблизи места адреса доставки (подъезда жилого дома, бизнес-центра и т.д.), а так же при условии, что стоянка в данном месте не противоречит Правилам дорожного движения. В случае возникновения причин, препятствующих подъезду транспортного средства, доставка осуществляется до места, максимально приближённого к месту планируемой разгрузки товара без нарушения ПДД.</li>
            <li>Если на территории места назначения доставки предусмотрен платный въезд, то Покупателю необходимо компенсировать стоимость въезда транспортного средства. При этом приемка и проверка товара, а также подписание передаточных документов осуществляется в данном месте без дальнейшего перемещения товара.</li>
            <li>Доставка является платной услугой и, в случае возврата товара, данная сумма не подлежит возврату, а в случае обмена оплачивается отдельно.</li>
            <li>Доставка товара производится с понедельника по пятницу с 10:00 до 18:00, по субботам и воскресеньям по договорённости.</li>
          </ol>
        </div>
        <div class="delivery_rules">
          <h4 class="delivery_desc__title">Правила приемки товара</h4>
          <ol>
            <li>Перед подписанием договора купли-продажи обязательно убедитесь в полной комплектности заказа и отсутствии внешних дефектов товара. Претензии к внешнему виду доставленного товара в соответствии со ст. 458 и 459 ГК РФ можно предъявить только до передачи товара клиенту продавцом, и при их наличии покупатель вправе отказаться от товара. Если состав комплектации верен и товар не имеет дефектов, покупатель должен поставить свою подпись в графе «к внешнему виду и комплектации претензий не имею». После этого претензии к товарному виду и комплектации не принимаются.</li>
            <li>При получении заказа, оформленного на юридическое лицо (организацию), обязательно наличие у получателя либо печати данной организации, либо доверенности от нее на получение товара (дата получения товара должна входить в срок действия доверенности).</li>
            <li>При получении заказа представителем транспортной компании обязательно предъявление им доверенности от покупателя (в электронном виде) и доверенности от своей организации.</li>
            <li>Вы также можете отказаться от товара в течение 7 (семи) дней после подписания документов, не считая дня его покупки. В этом случае необходимо, чтобы:
              <ul>
                <li>товар не эксплуатировался, были сохранены его потребительские свойства, товарный вид, упаковка, пломбы, ярлыки, а также товарный/кассовый чек, документация к товару;</li>
                <li>товар был надлежащего качества (исправен, не имел вмятин, трещин, царапин, сколов и других механических повреждений, за исключением скрытых производственных дефектов);</li>
                <li>товар не входил в перечень товаров, не подлежащих возврату или обмену на аналогичный товар, согласно Постановлению Правительства РФ № 55 от 19 января 1998 г.</li>
              </ul>
            </li>
            <li>Возврат переведенных средств, производится на Ваш банковский счет или наличными деньгами (В зависимости от способа оплаты) в течение 5—30 рабочих дней (срок зависит от Банка, который выдал Вашу банковскую карту).</li>
            <li>При получении заказа в пунктах самовывоза получателю необходимо знать номер счета, по которому оплачивался заказ, и предъявить доверенность на получение заказа.</li>
          </ol>
        </div>
    </section>
  </div>
</section>


{% endblock %}